.body {
    font-family: 'PT Sans', sans-serif;
}

/* Sidebar -- logo and icons */
.sidebar {
    background-color: #DAE1F1;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    min-width: 1%;
    min-height: 1%;
    border-radius: 50%; 
    margin-top: 50%; 
}

.icons {
    padding: 15% 5%; 
    transform: translate(7%, 0); 
}

.fa-envelope-open-o {
    color: #011C3A;
    transform: scale(1.8);
}

.fa-github {
    color: #011C3A;
    transform: scale(1.8);
}

.fa-file-text-o {
    color: #011C3A;
    transform: scale(1.8);
}

/* Tooltip */
.tooltip.bottom > .tooltip-inner {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/* Tooltip tip */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid black;
}


/* Content -- the stuff about me */
#section {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    padding: 5%;
    z-index:-1;
    background-color: white;
    opacity: 0;
   -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#section.load {
    opacity: 1;
}

.title {
    font-size: 2.40em;
    margin-top: 1em;
    margin-bottom: 2em;   
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2%;
}


.subtitle {
    font-size: 2em;
    margin-bottom: 0.1em;
}


.text {
    font-size: 1.40em; 
    margin-bottom: 0.5em;
    background-color: white;
}

/* The panel */
.panel-default {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}


.panel-body {
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2%;
}