html, .body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}


a, a:hover, a:active {
    color: rgba(68,132,206);
    font-weight: bolder; 
    text-decoration: none;
}

.row {
    padding-left: 1.5vw;
}


/* Sidebar -- logo and icons */
.sidebar {
    background-image: url("shattered.png");
    background-color: #EFEFEFEF;
    height: 100vh;
    max-width: 35%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    min-width: 1%;
    min-height: 1%;
    border-radius: 50%; 
    margin-top: 50%; 
}

.icons {
    padding: 15% 5%; 
    transform: translate(5%, 0);
}

.fa-envelope-open {
    color: black;
    transform: scale(1.8);
    min-width: auto;
    box-shadow: 0 4px 8px 0 rgba(68,132,206, 0.2), 0 6px 20px 0 rgba(68,132,206, 0.5);
    border-radius: 50%;
}

.fa-github {
    color: black;
    transform: scale(1.8);
    min-width: auto;
    box-shadow: 0 4px 8px 0 rgba(68,132,206, 0.2), 0 6px 20px 0 rgba(68,132,206, 0.5);
    border-radius: 50%;
}

.fa-file-text {
    color: black;
    transform: scale(1.8);
    min-width: auto;
    box-shadow: 0 4px 8px 0 rgba(68,132,206, 0.2), 0 6px 20px 0 rgba(68,132,206, 0.5);
    border-radius: 50%;
}

/* Tooltip */
.tooltip.bottom > .tooltip-inner {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/* Tooltip tip */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid black;
}


/* Content -- the stuff about me */
#section {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    max-width: 75%;
    margin: 0;
    padding: 5vw;
    z-index:-1;
    background-image: url("debut_light.png");
    background-color: #EFEFEFEF;
    opacity: 0;
   -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#section.load {
    opacity: 1;
}

.title {
    font-size: 3.5vw;
    margin-top: 1vw;
    margin-bottom: 10vw;   
    border-radius: 2%;
    color: black;
}

.highlight {
    background-color: rgb(249,207,0, 0.3);
    padding: 2%;
}

.subtitle {
    font-size: 2.2vw;
    margin-bottom: 0vw;
}

.subtitle:hover {
    cursor: pointer;
}


.text {
    font-size: 1.7vw; 
    margin-bottom: 0.5vw;
}

/* The panel */
.panel-default {
    min-width: auto;
    background: none;
    outline: none;
    background-color: rgb(241,159,77, 0.5);
    border-radius: 0%;
}


.panel-body {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* The list */
ul.list {
    list-style-type: disc;
    margin: 0vw;
}